{% extends 'base.html.twig' %}

{% block title %}Hello ShowRoomController!{% endblock %}

{% block body %}

<header style="width: 100%;" class="container-fluid " >
   
    <img class="logo width="150" height="40" class="d-inline-block align-text-top"" src="{{ asset('images/logo.svg') }}" alt="Symfony!"/>

</header>

<main>
    
    <main>
        <div class="col-sm-5 mx-auto d-flex justify-content-center align-items-center">
          <div class="card" style="width: 320px;">
            <img class="card-img-top" src="{{ asset('images/aluminios/p1.jpg') }}" alt="Card image">
            <div class="card-body text-center">
              <h4 class="card-title">Perfil 1045</h4>
              <!-- Conteúdo adicional do card aqui -->
            </div>
          </div>
        </div>
      
          <div class="col-sm-5 mx-auto d-flex justify-content-center align-items-center">
            <div class="card" style="width: 320px;">
              <img class="card-img-top" src="{{ asset('images/aluminios/p2.jpg') }}" alt="Card image">
              <div class="card-body text-center">
                <h4 class="card-title">Perfil 3180</h4>
                <!-- Conteúdo adicional do card aqui -->
              </div>
            </div>
          </div>
        </div>
      
       
        
      
          
      
          
      </main>

</main>

<footer>

</footer>
{% endblock %}
