<form method="post" action="{{ path('app_estofado_delete', {'id': estofado.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estofado.id) }}">
    <button class="btn">Delete</button>
</form>
